

.footerSite .footerContent{
    float: left;
    width: 100%;
    height: 220px;
    background: #092760;
    font-family: 'Questrial', sans-serif;
  }

  .footerSite .copyrightContent{
    float: left;
    width: 100%;
    height: 90px;
    background: #041f4f;
  }


  .footerLinks {
    color: white;
    text-decoration: none;
    
  }

  .footerSite .contentInfo{
      color: white;
      padding-left: 100px;
      float: left;
  }
  .footerSite .contentInfoR{
    color: white;
    padding-right: 100px;
    float: right;
}
  

