.footerSite .footerContent{
    float: left;
    width: 100%;
    height: 220px;
    background: #092760;
    font-family: 'Questrial', sans-serif;
  }

  .footerSite .copyrightContent{
    float: left;
    width: 100%;
    height: 90px;
    background: #041f4f;
  }

  .footerSite .contentInfo{
      color: white;
      padding-left: 50px;
      float: left;
  }
  .footerSite .contentInfoR{
    color: white;
    padding-right: 50px;
    float: right;
}
  