 body{
   width: 100%;
 }
 
 
 body .navMenu {
    background-color:#092760;
    position: fixed;
    width: 100%;
    top: 0;
    height: 140px;
    display: block;
    transition: top 1.2s;
    left: 0%;
    z-index: 5;
  }

  .navMenu .container{
    padding-top: 18px;
    padding-left: 100px;
    width: 95%;
  }
  .navMenu .menu-sm{
    width: 90%;
    height: 60px;
    background-color: #ffb606;
    
  }
  
  /* NavBar list style */
  
  /*Strip the ul of padding and list styling*/
ul {
  list-style-type:none;
  margin:0;
  padding-top:3px;
  position: absolute;
  
}

/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    margin-right: 4px;
    margin-top: 0px;
    margin-left: 6px;
    height: 100%;
    text-transform: uppercase;
    
  }

  /*Style for menu links*/
  li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #333;
    background: transparent;
    text-decoration: none;
    font-family: 'Source Serif Pro' ;
  }
  /*Hover state for top level links*/
  li:hover a {
    background:#eea908 ;
  }
  /*Style for dropdown links*/
  li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
    
  }
  /*Hover state for dropdown links*/
  li:hover ul a:hover {
    background: #ffb606;
    color: #fff;
  }
  /*Hide dropdown links until they are needed*/
  li ul {
    display: none;
  }
  /*Make dropdown links vertical*/
  li ul li {
    display: block;
    float: none;
  }
  /*Prevent text wrapping*/
  li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
  }
  /*Display the dropdown on hover*/
  ul li a:hover + .hidden, .hidden:hover {
    display: block;
  }

  
  