body{
    width: 100%;
    margin-left: 0;
}

.mainContainer{
    width: 80%;
    margin-top: 15%;
    margin-left: 10%;
}

.videoContainer{
    width: 100%;
}

.videoTitle{
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #092760;
    font-family: Roboto Slab;
}

.videoLeft{
    float: left;
    width: 50%;
    margin-top:6px;
}

.videoRight{
    width: 50%;
    margin-top:6px;
    float:right;
}

.individualNews{
    width: 100%;
    height: 190px;
    margin-top: 25px;
}

.individualImage{
    float: left;
    width: 39%;
    height: 91%;
    margin-top: 12px;
}

.individualTitle {
    float: left;
    margin-top: 0;
    width: 50%;
    height: 95px;
  
    padding-left: 35px;
    padding-top: 2px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    color: #092760;
    font-family: Roboto Slab;
    
}

.individualAbstract{
    float: left;
    padding-left: 35px;
    width: 40%;
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-family: 'Crimson Text';
    text-align: left;
    padding-top: 2px;
    line-height: 12px;
    width: 50%;
    
}

.navIndex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

tr, td{
    width: 25px;
    text-align: center;
    color: #e0a10d;
    font-size: 18px;
    font-family: 'Crimson Text';
    margin-top: 3px;
    font-family: 'Roboto';
    font-weight: bold;

}
a{
    text-decoration: none;
    color: #e0a10d;
}

.videoT{
    color: #092760;
    text-decoration: none;
}

